XTerm.termName: xterm-256color

XTerm*foreground: #afafaf
XTerm*background: #000000

XTerm*faceName: Terminus:style=Regular:pixelsize=32

Xcursor.theme: Vanilla-DMZ

! T27p
!Xft.dpi: 168

! T27h
Xft.dpi: 109
